p{
   color: blue;
   text-align: center;
   height: 60px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 100px;
   font-style: italic;
   font-weight: bolder;
   text-decoration: underline;

}